.homeLogin {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  span {
    padding: 9px 10px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: 1px solid $login-color;
    }
    a {
      font-size: 14px;
      outline: none;
      color: $text-color;
      text-decoration: none;
    }
  }
}
